<div class="container-fluid">
  <div class="row g-3">

    <nav class="left-nav col-2 pr-3 shadow ps-0 h-100">
      <div class="text-center brand">
        <a class="fs-4 text-dark text-decoration-none btn-link fw-bold">
          <i class="bi bi-house"></i>
          <span class="d-none d-lg-inline"> Dashboard</span>
        </a>
      </div>

      <div class="text-center text-lg-start mb-auto">

        <a [routerLink]="['/manager', 'employee']" routerLinkActive="active" class="nav-menu-link ps-lg-3 ps-md-0 mb-2">
          <i class="bi bi-person-fill-gear"></i>
          <span class="d-none d-lg-inline"> Employee</span>
        </a>
        <a [routerLink]="['/manager', 'setting']" routerLinkActive="active" class="nav-menu-link ps-lg-3 ps-md-0 mb-2">
          <i class="bi bi-gear"></i>
          <span class="d-none d-lg-inline"> Setting</span>
        </a>
      </div>

      <div class="text-center text-lg-start list-group">
        <span class="list-group-item disabled">
          <i class="bi bi-house-gear"></i>
          <small class="d-none d-lg-inline"> DASHBOARDS</small>
        </span>
        <a [routerLink]="['/owner']" class="list-group-item list-group-item-action" *ngIf="currentUser == 'Admin'">
          <span class="ps-2">
            <i class="bi bi-person-gear"></i>
            <span class="d-none d-lg-inline"> Owner Home</span>
          </span>
        </a>
        <a [routerLink]="['/employee']" class="list-group-item list-group-item-action">
          <span class="ps-2">
            <i class="bi bi-person-raised-hand"></i>
            <span class="d-none d-lg-inline"> Employee Home</span>
          </span>
        </a>
        <a [routerLink]="['/customer']" class="list-group-item list-group-item-action">
          <span class="ps-2">
            <i class="bi bi-people"></i>
            <span class="d-none d-lg-inline"> Customer Home</span>
          </span>
        </a>
        <a [routerLink]="['/public']" class="list-group-item list-group-item-action">
          <span class="ps-2">
            <i class="bi bi-person-workspace"></i>
            <span class="d-none d-lg-inline"> Public Home</span>
          </span>
        </a>
      </div>

      <div class="ps-2 row align-items-end" [ngStyle]="{'height': heightValue}">
        <div class="col">
          <button class="btn btn-outline-success w-100" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i>
            <span class="d-none d-lg-inline"> Log Out</span>
          </button>
        </div>
      </div>
    </nav>

    <main class="col-10">
      <div class="ps-3">
        <router-outlet></router-outlet>
      </div>
    </main>

  </div>
</div>